<!-- *** contactus *** -->

<div id="page-start"></div>

<section uk-height-viewport="expand: true" class="uk-section uk-background-muted">
	<div class="uk-container uk-text-center">
		<!-- page-title start -->
		<!-- ================ -->
		<div class="uk-text-center">
			<h1 class="uk-heading uk-text-uppercase">{{('Contact' | r) + ' ' + ('Us' | r) | xlat }}</h1>
			<div class="uk-divider-small"></div>
		</div>
		<!-- page-title end -->

		<div class="uk-card uk-card-default uk-card-body">
			<h4 class="uk-margin-medium-bottom">If you have any queries regarding your FIT-Kits or delivery, please contact Alpha Laboratories.</h4>
			<span uk-icon="icon: receiver; ratio: 2"></span>
			<h4 class="uk-margin-small-top uk-margin-medium-bottom"><strong>023 8048 7267</strong></h4>
			<span uk-icon="icon: mail; ratio: 2"></span>
			<h4 class="uk-margin-small-top uk-margin-medium-bottom"><strong>fit-kit@alphalabs.co.uk </strong></h4>
		</div> <!-- card end -->
	</div> <!-- main containers -->
</section> <!-- section -->
